@charset "UTF-8";

@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@300&display=swap');

* {
	margin: 0;
	left: 0;
}

/* font-family: 'Open Sans', sans-serif;
/*font-family: 'Roboto', sans-serif; */

.container {
	width: 1146px;
	margin: 0 auto;
}

body {
	/*  font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 27px;
    font-style: normal; */

	font: normal 18px/27px 'Open Sans', sans-serif;
}

a {
	color: #f0ad64;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.btn {
	border: 1px solid #f0ad64;
	padding: 0 30px;
	line-height: 54px;
	display: inline-block;
	text-transform: uppercase;
	width: 189px; box-sizing: border-box;
	font-weight: bold;
	color: #f0ad64;
}

.btn:hover {
	color: #fff;
	background-color: #f0ad64;
	/* transition: 0.3s;  */
	transition: 300ms;
}

/* font-style
    font-variant
    font-weight
    font-size/line-height
    font-family

/* layout */

/* header */

header {
	position: fixed;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 27px 0;
	z-index: 10;
}

header .logo {
	float: left;
}

header .logo a {
	display: block;
	width: 54px;
	height: 54px;
	background-image: url(../img/logo.png);
	text-indent: -999999em;
}

header nav {
	float: right;
}

header nav ul {}

header nav ul li {
	float: left;
	margin-left: 20px;
}

header nav ul li a {
	font-size: 14PX;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	line-height: 54px;
	letter-spacing: .1em px;
}

/* header */

/* banner */

.banner {}

.banner .banner_list {}

.banner .banner_list .slide {
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center ;
	text-align: center;
	padding-top: 162px;
	box-sizing: border-box;
}

.banner .banner_list .slide1 {
	background-image: url(../img/slide-1-bg.jpg);
}

.banner .banner_list .slide2 {
	background-image: url(../img/slide-2-bg.jpg);
	
}

.banner .banner_list .slide3 {
	background-image: url(../img/slide-3-bg.jpg);
}

.banner .banner_list .slide .main_tt {
	color: #fff;
	background-color: #f6604c;
	font-size: 55px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	display: inline-block;
	padding: 27px 40px;
	line-height: 54px;
}

.banner .banner_list .slide .slide_contents {
	width: 700px;
	background-color: rgba(0, 0, 0, 0.8);
	margin: 0 auto;
	padding: 81px 0 43px;
	margin-top: -27px;

}



.banner .banner_list .slide .slide_contents p {
	font-size: 18px;
	color: #fff;
	margin-bottom: 54px;
}

.banner .banner_list .slide .slide_contents a {
	text-decoration: none;
}

.banner_list .slick-arrow {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateY(-50%);
	z-index: 100;
	visibility: hidden;
	color: rgba(255, 255, 255, 0.5);
	font-size: 55px;
}

/* 콘텐츠를 보이지 않게 하는 방법 
1. display:none <=> display:block
(영역이 사라짐) (애니메이션 가능)
2. opacity:0 <=> opacity:1(영역이 유지)
3. visibility:hidden <=> visibility:visivible	(영역이 유지됨)
4. width:0 height:0 <=> overflow:hidden   */

.banner_list .slick-prev{
	margin-left: -580px;
}
.banner_list .slick-prev::before {
	content: "\f053";
	visibility: visible;
}

.banner_list .slick-next{
	margin-left: 530px;
}
.banner_list .slick-next::before {
	content: "\f054";
	visibility: visible;
}

.banner .banner_list .slick-dots{
	position: absolute;
	left: 50%; transform: translateX(-50%);
	bottom: 40px;
	/* 부모가 영역이 깨짐현상이 일어나지않을때 
	자식이 float있고 부모도 float이 있을때 
	부모가 position중 absolute, fixed가 있을때 */
}
.banner .banner_list .slick-dots li{
	float: left;
	width: 15px; height: 15px; background-color: rgba(255, 255, 255, 0.8); margin: 0 10px; 
	border-radius: 50%;
	
}
.banner .banner_list .slick-dots li button{
	visibility: hidden;
}


.banner .banner_list .slick-dots li.slick-active{
	border:3px solid rgba(255, 255, 255, 0.8);
	background: none;
	box-sizing: border-box;
}

/* banner */

/* main_content */

.main_content{
	text-align: center; padding: 74px 0 84px;
}
.main_content .content_tt{
	font-family: 'Roboto', sans-serif;
	font-size: 32px; font-weight: 300; 
	letter-spacing: 0.025em;
	color: #2e2e2e;
	text-transform: uppercase;

}
.main_content .project_link{
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 18px;
	letter-spacing: 0.025em;
	margin: 54px 0;
	

}
.main_content .project_link a{
	color: #f6604c;
}
.main_content .project_list{
	
}
.main_content .project_list li{
	float: left; width: 362px; height: 362px;
	margin: 0 30px 30px 0; border: 1px solid #919191;
	box-sizing: border-box; padding: 3px; position: relative; line-height: 24px; transition: 0.3s;
}

.main_content .project_list li:hover .hover_contents{
	opacity: 1;
}

.main_content .project_list li:nth-child(3n){margin-right: 0;}

.main_content .project_list li:nth-child(4n),
.main_content .project_list li:nth-child(5n),
.main_content .project_list li:nth-child(6n){
	margin-bottom: 0;
}


/* 홀수
.main_content .project_list li:not(odd)
.main_content .project_list li:not(2n+1)
짝수
.main_content .project_list li:not(even)
.main_content .project_list li:not(2n) */

.main_content .project_list li img{
	width: 100%; 
}

.main_content .project_list .hover_contents{
	
	position: absolute; 
	left: 3px;top: 3px;right: 3px;bottom: 3px; background-color: rgba(0, 0, 0, 0.75); opacity: 0;
	transition: 0.3S;
}

.main_content .project_list .hover_contents h4{
	font-size: 23px; font-family: 'Roboto', sans-serif;
	font-weight: 300; color: #f4af55; 
	padding: 85px 0 60px 0; line-height: 24px;
}
.main_content .project_list .hover_contents a{
	
	font-size: 14px; 
	font-family: 'Open Sans', sans-serif;
	color: #fff; line-height: 24px;

}


footer{
	text-align: center;
	position: relative;
}
footer .envelop_icon{
	position: absolute; left: 50%; 
	transform: translateX(-50%);
	background-color: rgba(244, 175, 85, 0.897);
	padding: 0 35px;
	top: -54px;
	
}
footer .envelop_icon i{
	line-height: 82px;
	color: #fff; font-size: 55px;
	box-shadow: 1;
}
footer .subscribe{
	background-color: #333538;
	padding: 83px 0 69px;
	
}
footer .subscribe p{
	color: #fff; font-size: 18px;
	width: 848px; letter-spacing: 0.1em;
	margin: 0 auto; padding-bottom: 40px;
}
footer .subscribe form{}
footer .subscribe form input[type="email"]{
	border: none; width: 300px; height: 56px;
	padding: 0 20px 0; box-sizing: border-box;
	margin-right: 17px;
}
footer .subscribe form input[type="email"]::placeholder{
	font-style: italic; color: #989898;
}

footer .subscribe form input[type="submit"]{
	width: 189px; height: 56px; background: none; line-height: 56px;
	letter-spacing: 0.1em;
}

footer .subscribe form .btn:hover{
	color: #fff;
	background-color: #f0ad64;
	/* transition: 0.3s;  */
	transition: 300ms;
}


footer .share{
	margin: 54px 0 27px 0;
}
footer .share a{
	width: 24px; height: 24px;
	display: inline-block;
	border-radius: 3px;
	color: #f6604c; font-size: 27px;
	margin-right: 7px;
}
footer>p{
	color: #2e2e2e;
}